{
    "presets": ["es2015","stage-3"],
    "plugins": [
        ["babel-plugin-transform-builtin-extend", {
            "globals": ["Map"]
        }],
        ["transform-es2015-parameters"],
        ["transform-object-rest-spread"],
        ["transform-es2015-destructuring"],
        ["dynamic-import-node"],
        ["syntax-dynamic-import"],
        ["transform-class-properties"]
    ]
    
  }
  